.page{ font-family: 'Noto Serif SC', serif;}
.sidebar{ font-family: 'Noto Serif SC', serif;}
.hero{ font-family: 'Noto Serif SC', serif;}

.feature{ 
    text-align: center;
    font-family: 'Noto Serif SC', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&display=swap');